

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 10 auto;
  font-size: 62.5%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  background-color: #0de589;
  {"color100":"#e6fcf3","color200":"#c9f8de","color300":"#aaf4c8","color400":"#88f0b3","color500":"#5feb9e","color600":"#0de589","color700":"#06b66c","color800":"#028950","color900":"#005e36"}
}

h1 {
  font-size: 7rem;
  color: #c9f8de;
}
.parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.box {
  flex: 0 0 32%;                       
  width: 32vw;
  margin: 5px auto;
  background-color: #0de589;
  align-content: center;
  border: solid #e6fcf3;
  border-radius: 25px;
  box-shadow: 6px 4px 0px #5feb9e;
}

.img {
  flex: 0 0 32%; 
  display: flex;
  width: 22vw ;
  padding: 1rem;
}




h2 {
  margin: 1rem;
  font-size: 3rem;
  background-color: #0de589;
  color: #e6fcf3;
}

.px-size {
  font-size: 50px;
}

.rem-size {
  font-size: 1rem;
}

.em-size {
  font-size: 4em;
}
