

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 10 auto;
  font-size: 62.5%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  background-color: #0db7eb;
  {"color100":"#e8faff","color200":"#b9efff","color300":"#89e5ff","color400":"#5adaff","color500":"#2cc8f7","color600":"#0db7eb","color700":"#009bcb","color800":"#00769b","color900":"#00526c"}
}

h1 {
  font-size: 8rem;
  color: #b9efff;
}
.parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

.box {
  flex: 0 0 32%;                       
  width: 32vw;
  margin: 5px auto;
  background-color: #0db7eb;
  align-content: center;
  border: solid #e8faff;
  border-radius: 25px;
  box-shadow: 10px 8px 0px #009bcb;
  overflow-wrap: break-word;
}

.img {
  flex: 0 0 32%; 
  display: flex;
  width: 22vw ;
  padding: 1rem;
}




h2 {
  margin: 1rem;
  font-size: 4rem;
  background-color: #0db7eb;
  color: #e8faff;
}

.px-size {
  font-size: 50px;
}

.rem-size {
  font-size: 1rem;
}

.em-size {
  font-size: 4em;
}
