

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 10 auto;
  font-size: 62.5%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  background-color: #c79ef7;
  {"color100":"#fcf9ff","color200":"#f7efff","color300":"#eedfff","color400":"#dec5fd","color500":"#c79ef7","color600":"#a872e8","color700":"#8344cc","color800":"#592099","color900":"#2c1349"}
}

h1 {
  font-size: 7rem;
  color: #eedfff;
}
.parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.box {
  flex: 0 0 32%;                       
  width: 32vw;
  margin: 5px auto;
  background-color: #c79ef7;
  align-content: center;
  border: solid #fcf9ff;
  border-radius: 25px;
  box-shadow: 6px 4px 0px #dec5fd;
}

.img {
  flex: 0 0 32%; 
  display: flex;
  width: 20vw ;
}




h2 {
  margin: 1rem;
  font-size: 3rem;
  background-color: #c79ef7;
  color: #f7efff;
}

.px-size {
  font-size: 50px;
}

.rem-size {
  font-size: 1rem;
}

.em-size {
  font-size: 4em;
}
